<h1>Do a conferencing</h1>

<p>
  All of you're confrees should dial +44 20 3322 3866 and enter the following conference code:
</p>
<h2><%= @code %></h2>
<p>
  That's it. The code is different each time. If you need another conference line, refresh the page!
</p>
